
<table class="table table-dark" >
  <thead class="bg-gradient text-white">
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Unidades Disponibles</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of Posts">
      <td>{{ post.nombre }}</td>
      <td>{{ post.descripcion }}</td>
      <td>{{ post.precio }}</td>
      <td>{{ post.unidades_dispo }}</td>
      <td>
        <button routerLink="/edit/{{post.id}}" class="btn btn-outline-secondary">Editar</button>
        <button (click)="deleteRecord(post)" class="btn btn-outline-danger">Borrar</button>
      </td>
    </tr>
  </tbody>
  <th><a routerLink="/create" class="btn btn-primary" type="button">Create</a></th>
</table>

