<h2 class="text-center">Crear Producto</h2>

<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-3">

        <label class="form-label">Nombre</label>
        <input formControlName="nombre" type="text" class="form-control" required>


        <label class="form-label">Descripcion</label>
        <input formControlName="descripcion" type="text" class="form-control" required>


        <label class="form-label">Precio</label>
        <input formControlName="precio" type="text" class="form-control" required>



        <label class="form-label">Unidades Disponibles</label>
        <input formControlName="unidades_dispo" type="text" class="form-control" required>
      </div>

    <button [disabled]="!postForm.valid" type="submit" class="btn btn-primary">Crear Producto</button>

</form>
